<% if user_signed_in? %>
  <h1>Welcome <%= current_user.name %> </h1>
  <%= image_tag @avatar.thumb.url, class: 'figure-img rounded' %>
<% else %>
  <h1>RoR Community</h1>
<% end %>
<%= link_to 'My Images', controller: 'images' %>

