<!-- <%- @images.each do |image| %>
  <%= image.description %><br>
<% end %> 
WO partial -->

<div  class="container">
  <%= link_to 'Home', { controller: 'home' }, class:"btn btn-primary btn-sm" %>
  <%= link_to 'New', new_image_path, class:"btn btn-primary btn-sm" %>
  <div class="row">
    <%= render @images %>
  </div>
</div>